body {
    color: rgb(0, 0, 0);
    background: black;
}

header{
    border: solid 10px rgb(123,104,238);
    font-size: 32px;
    color: rgb(123,104,238);
}

section{
   background: rgb(204, 255, 223);
   padding-bottom: 80px
   padding-

}
